body{

margin:0;
background:#0f172a;
font-family:system-ui;
color:white;
overflow:hidden;

}

#graph{

width:100vw;
height:100vh;

}

.node{

stroke:white;
stroke-width:2;

}

.link{

stroke:#64748b;
opacity:0.35;

}

text{

pointer-events:none;
fill:white;

}



#toolbar{

position:fixed;
top:18px;
left:20px;
display:flex;
gap:10px;
z-index:10;

}



input,textarea,select{

padding:8px;
border-radius:6px;
border:none;

}



button{

padding:8px;
border:none;
border-radius:6px;
cursor:pointer;
background:#334155;
color:white;

}



#info-panel{

position:fixed;
right:-380px;
top:0;

width:380px;
height:100%;

background:#1e293b;

padding:25px;

transition:right .3s;

overflow:auto;

}

#info-panel.open{

right:0;

}



#suggest-panel{

position:fixed;
left:-380px;
top:0;

width:380px;
height:100%;

background:#1e293b;

padding:25px;

transition:left .3s;

display:flex;
flex-direction:column;
gap:12px;

}

#suggest-panel.open{

left:0;

}
